<nav class="header__nav-wrap">

    <h2 class="header__nav-heading h6">Site Navigation</h2>

    <ul class="header__nav">
        <li class="header-li"><a href="/" title="">Home</a></li>
        <li class="header-li has-children">
            <a href="#0" title="">Categories</a>
            <ul class="sub-menu">
                <li><a href="/admissions">Admissions</a></li>
                <li><a href="/notes/year-one">1st Year</a></li>

            </ul>
        </li>
        <li class="header-li"><a href="about" title="">About</a></li>
    </ul>
    <!-- end header__nav -->

    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

</nav>
<!-- end header__nav-wrap -->