<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="image/header_logo.png" />

    <title>Flutur New Tab Chrome Extension</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/onebagjpomhjadhoiianmnelkbcnllnf">
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,500,700" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/css/site.css"> -->
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>hi there</body>


</html>